<div>
  <div class="header">
    <h1>title</h1>
    <button class="btn btn-link" routerLink="/">на главную</button>
  </div>
  <div class="info">
    <strong>Автор</strong>
    <small>12.12.2012</small>
  </div>
  <div class="description">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus adipisci aspernatur
      assumenda atque culpa dolorum enim est eum fugit, libero magnam magni molestias, necessitatibus
      neque quas quod sint vitae.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus adipisci aspernatur
      assumenda atque culpa dolorum enim est eum fugit, libero magnam magni molestias, necessitatibus
      neque quas quod sint vitae.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus adipisci aspernatur
      assumenda atque culpa dolorum enim est eum fugit, libero magnam magni molestias, necessitatibus
      neque quas quod sint vitae.
    </p>
  </div>
</div>

